body {
    margin: 0;
    height: 100vh;
    background: #000;
    font-family: 'Outfit', sans-serif;
    overflow: hidden;
    color: white;
}

#albumBg {
    position: fixed;
    inset: -20%;
    background-size: cover;
    background-position: center;
    filter: blur(110px) brightness(0.75) saturate(1.9);
    transform: scale(1.3);
    z-index: -3;
    opacity: 0.95;
    transition: background-image 1s ease, opacity 0.5s ease;
}

.vignette {
    position: fixed;
    inset: 0;
    background: radial-gradient(circle at center, transparent 35%, rgba(0,0,0,0.7));
    z-index: -2;
}

.main-frame {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.music-card {
    width: 850px;
    padding: 50px;
    border-radius: 40px;

    background: rgba(255,255,255,0.05);
    backdrop-filter: blur(60px) saturate(180%);
    border: 1px solid rgba(255,255,255,0.12);

    box-shadow:
        0 40px 120px rgba(0,0,0,0.7),
        inset 0 1px 0 rgba(255,255,255,0.08);

    overflow: hidden;
    transition: transform 0.1s ease-out;
}

.card-body {
    display: flex;
    align-items: center;
    gap: 50px;
    width: 100%;
}

.disk-wrapper {
    width: 260px;
    height: 260px;
    flex-shrink: 0;
    position: relative;
}

.lp-plate {
    width: 100%;
    height: 100%;
    animation: spin 10s linear infinite;
}

.center-label {
    position: absolute;
    width: 110px;
    height: 110px;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
    transform-origin: center;

    border-radius: 50%;
    overflow: hidden;

    animation: spinCenter 10s linear infinite;
}

#albumArt {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.data-hub {
    flex: 1;
    min-width: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#titleContainer {
    width: 100%;
    overflow: hidden;
}

#trackTitle {
    display: block;
    width: 100%;
    max-width: 100%;

    font-size: 3.5rem;
    font-weight: 900;
    margin: 0;
    line-height: 1.1;

    background: linear-gradient(#fff, #cfcfcf);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    text-shadow: 0 0 20px rgba(255,255,255,0.15);

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#artistName {
    font-size: 1.1rem;
    opacity: 0.65;
    margin-top: 10px;
}

.visualizer {
    margin-top: 25px;
    display: flex;
    gap: 6px;
    height: 20px;
    align-items: flex-end;
    opacity: 0.6;
}

.visualizer span {
    width: 4px;
    height: 6px;
    background: rgba(255,255,255,0.6);
    border-radius: 2px;
    transition: height 0.08s linear;
}
@keyframes spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

@keyframes spinCenter {
    from {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    to {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}
